<!DOCTYPE html>
<html lang="en">

<head>
  
    <meta charset="utf-8">
    <title>Boxed Layout | FrogBase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="public/assets/images/favicon.ico">

  <%- HeaderCss %>
  <%- include ('./Partials/HeaderStyle')  %>

</head>

<body data-layout="horizontal" data-layout-size="boxed">
    
    <div class="container-fluid">
        <!-- Begin page -->
        <div id="layout-wrapper">

        <%- include ('./Partials/Horizontal')  %>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                    
                    <%- breadcrumb %>
                    <%- body %>

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <%- include ('./Partials/Footer') %>
        </div>
        <!-- end main content-->
        <!-- END layout-wrapper -->
    </div>

    <%- include ('./Partials/Rightbar')  %>
    <%- include ('./Partials/VendorScript')  %>

    <%- FooterJs %>

    <script src="public/assets/js/app.js"></script>
    <%- BottomJs %>
</body>

</html>