<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title mb-0 font-size-18">Pricing</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                    <li class="breadcrumb-item active">Pricing</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="text-center mb-5">
            <h4>Choose your Pricing plan</h4>
            <p class="text-muted">To achieve this, it would be necessary to have uniform grammar,
                pronunciation and more common words If several languages coalesce</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card plan-box">
            <div class="card-body p-4">
                <div class="d-flex align-items-start">
                    <div class="flex-1 me-3">
                        <h5>Starter</h5>
                        <p class="text-muted">Neque quis est</p>
                    </div>
                    <div class="ms-auto">
                        <i class="bx bx-walk h1 text-primary"></i>
                    </div>
                </div>
                <div class="py-4 mt-4 text-center bg-soft-light">
                    <h1 class="m-0"><sup><small>$</small></sup> 19/ <span class="font-size-13">Per
                            month</span></h1>
                </div>

                <div class="plan-features p-4 text-muted mt-2">
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>Unlimited access to
                        licence</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>GB Storage</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>No Domain</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>SEO optimization</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>Unlmited Users</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>500 GB Bandwidth</p>
                </div>

                <div class="text-center">
                    <a href="#" class="btn btn-primary waves-effect waves-light">Sign up Now</a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card plan-box">
            <div class="card-body p-4">
                <div class="d-flex align-items-start">
                    <div class="flex-1 me-3">
                        <h5>Professional</h5>
                        <p class="text-muted">Quis autem iure</p>
                    </div>
                    <div class="ms-auto">
                        <i class="bx bx-run h1 text-primary"></i>
                    </div>
                </div>
                <div class="py-4 mt-4 text-center bg-soft-light">
                    <h1 class="m-0"><sup><small>$</small></sup> 29/ <span class="font-size-13">Per
                            month</span></h1>
                </div>
                <div class="plan-features p-4 text-muted mt-2">
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>Unlimited access to
                        licence</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>GB Storage</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>No Domain</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>SEO optimization</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>Unlmited Users</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>500 GB Bandwidth</p>
                </div>

                <div class="text-center">
                    <a href="#" class="btn btn-primary waves-effect waves-light">Sign up Now</a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card plan-box">
            <div class="card-body p-4">
                <div class="d-flex align-items-start">
                    <div class="flex-1 me-3">
                        <h5>Enterprise</h5>
                        <p class="text-muted">Sed ut neque unde</p>
                    </div>
                    <div class="ms-auto">
                        <i class="bx bx-cycling h1 text-primary"></i>
                    </div>
                </div>
                <div class="py-4 mt-4 text-center bg-soft-light">
                    <h1 class="m-0"><sup><small>$</small></sup> 39/ <span class="font-size-13">Per
                            month</span></h1>
                </div>

                <div class="plan-features p-4 text-muted mt-2">
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>Unlimited access to
                        licence</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>GB Storage</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>No Domain</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>SEO optimization</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>Unlmited Users</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>500 GB Bandwidth</p>
                </div>

                <div class="text-center">
                    <a href="#" class="btn btn-primary waves-effect waves-light">Sign up Now</a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card plan-box">
            <div class="card-body p-4">
                <div class="d-flex align-items-start">
                    <div class="flex-1 me-3">
                        <h5>Unlimited</h5>
                        <p class="text-muted">Itaque earum hic</p>
                    </div>
                    <div class="ms-auto">
                        <i class="bx bx-car h1 text-primary"></i>
                    </div>
                </div>
                <div class="py-4 mt-4 text-center bg-soft-light">
                    <h1 class="m-0"><sup><small>$</small></sup> 49/ <span class="font-size-13">Per
                            month</span></h1>
                </div>

                <div class="plan-features p-4 text-muted mt-2">
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>Unlimited access to
                        licence</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>GB Storage</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>No Domain</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>SEO optimization</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>Unlmited Users</p>
                    <p><i class="mdi mdi-check-bold text-primary me-4"></i>500 GB Bandwidth</p>
                </div>

                <div class="text-center">
                    <a href="#" class="btn btn-primary waves-effect waves-light">Sign up Now</a>
                </div>

            </div>
        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>